*.so
*.o
*.a
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
CMakeLists.txt.user
moc_*.cpp
moc_*.h
qrc_*.cpp
*.moc
*.qmlc
.vscode
ui_*.h
Makefile*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
build/
model/ssd_mobilenet_v1_1_metadata_1.tflite
model/coco_labels.txt
