*.so
*.o
*.a
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
CMakeLists.txt.user
moc_*.cpp
moc_*.h
qrc_*.cpp
*.moc
*.qmlc
ui_*.h
Makefile*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
dataviewer
